.skill_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skill_container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}


.skill_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.skill_container > div h5 {
    font-size: x-small;
    color: var(--color-primary);
    height: 2rem;
}

.skill_container > div:hover {
    background: darkslategray;
    border-color: var(--color-primary-variant);
}


.skill_content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    row-gap: 1.5rem;
}

.skill_details {
    display: flex;   
    gap: 1rem;
}

.skills_details-icon {
    margin-top: 6px;
}

/* ====== Media Queries (For medium sized devices) */
@media screen and (max-width:1024px){
    .skill_container {
        grid-template-columns: 1fr;
    }
    .skill_container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .skill_content {
        padding: 0.5rem;
    }
 }
 
 /* ====== Media Queries (For small sized devices) */
 @media screen and (max-width:600px){ 
     .skill_container {
        gap: 1rem;
     }
     .skill_container > div {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
    }

    .skill_container > div h5 {
        font-size: x-small;
        color: var(--color-primary);
        height: 2.8rem;
    }
 }