.container.testimonials_container {
    width: 30%;
}
.testimonials_container {
    height: 25rem;
}
.testimonials_item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    border: 1px solid transparent;
    text-align: center;
    user-select: none;
}

.testimonial_item-img {
    height: 15rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.testimonial_item-img > img {
    padding: 0rem;
    border-radius: 2rem;
}

.testimonial-item-cta {
    font-size: small;
    height: auto;
}
.testimonial-item-cta > a  {
    color: var(--color-bg-variant);
    background: var(--color-primary);
    border: 0rem;
}

/* ====== Media Queries (For medium sized devices) */
@media screen and (max-width:1024px){
    .container.testimonials_container  {
        width: 60%;
    }
    
}

/* ====== Media Queries (For small sized devices) */
@media screen and (max-width:600px){
    .container.testimonials_container  {
        width: var(--container-width-sm);
    }
}